<form action="/sumas" method="post">
  <h1>Suma</h1>
   <label for="numeroUno">Número uno</label>
   <input type="text" name="numeroUno" value="{{numeroUno}}"  placeholder="Primer número">
   <br>
   <br>
   <label for="numeroDos">Número dos</label>
   <input type="text" name="numeroDos" value="{{numeroDos}}"  placeholder="Segundo número">
   <br>
   <br>
   <input type="submit" name="sumar" value="Sumar">
</form>
<b>{{sumas}}</b>
